swagger/**
!swagger/swagger.yml
!swagger/swagger.json

# Compilados
*.exe
plan_adquisiciones_crud*
main*

# Temporales y/o IDEs
*.tmp
.scannerwork
.vscode

# NO IGNORAR go.mod/sum
# Ver https://go.dev/blog/using-go-modules
# para más información
