# Binarios, Compilados y Temporales
*.log
*.tmp
*.exe
*.zip
*~
plan_adquisiciones_crud
main

# Temporales y/o IDEs
.scannerwork
.vscode

# Variables de entorno
*.env
!.develop.env
!template.env

# Swagger
swagger/**
!swagger/swagger.yml
!swagger/swagger.json
